@import url('reset.css');
body{
    background:#e6eecc 
	color: #333;
	font-family: 'Terminal Dosis', Arial, sans-serif;
	font-size: 26px;
}
.container{
	position:relative;
}
.centered-wrapper{
	position:relative;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.content{
	margin: 50px auto;
	padding: 0px 10px 30px 10px;
	display: inline-block;
	position:relative;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
	border-radius: 20px;
	background: #DEF3FF;
	border: 5px solid #DEF3FF;
}
.sub-content {
	margin-bottom: 1vh;
	padding-bottom: 1vh;
	border-bottom: 2px solid #30b7ff;
}
h1{
	display:block;
	margin:0px;
	padding:20px;
	font-size:32px;
	color:#000;
    text-shadow:1px 1px 1px rgba(255,255,255,0.9);
	text-align:center;
	font-weight:400;
}
h1 span{
    	font-size:14px;
	color:#666;
    font-style:italic;
    font-family:Georgia, serif;
	padding-top:5px;
}
/* Header Style */
.header{
	//font-family:'Arial Narrow', Arial, sans-serif;
	display:block;
	line-height: 24px;
	font-size: 16px;
	background: #30b7ff;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 10px #000;
}
.header h1{
	text-align: center;
	font-size: 60px;
	color: #f0f0f0;
	padding: 40px 0px 40px 0px;
	
}
/*Prevents the link in the header from changing formatting*/
.header h1 a {
	padding: 0 0 0 0;
	float: none;
	display: inline;
	color: #f0f0f0;
}
.header h1 a:hover{
	color: #f0f0f0;
}
.header a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
}
.header a:hover{
	color: #fff;
}
.header span.right{
	float: right;
}
.header span.right a{
	float: none;
	display: inline;
}
.footer {
	height: 100px;
	margin-top: 50px;
	line-height: 24px;
	background: #30b7ff;
	opacity: 0.9;
	z-index: 9999;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.more{
	position:relative;
	clear:both;
    font-size: 11px;
    padding: 20px 0px;
    text-transform:uppercase;
    width: 390px;
    height:55px;
    margin: 0 auto;
}
.more ul{
	display:block;
	text-align:center;
}
.more ul li{
	display: block;
    padding: 4px 2px;
    float:left;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#0099c5;
	color:#fff;
	text-shadow:none;
    font-weight:bold;
}
.more ul li a{
	color:#555;
    float:left;
	background:#fff;
    width:64px;
	padding: 2px 5px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
}
